@import url(css.css);

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:root {
	--adv-indent: 0px;
}

body {
    font-family: Nunito,sans-serif;
    margin: 0;
    overflow-x:hidden!important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}

.h1,
h1 {
    font-size: calc(1.3875rem + 1.65vw)
}

@media (min-width:1200px) {
    .h1,
    h1 {
        font-size: 1.6rem
    }
}

.waffle-h1 {
    font-size: 38px !important;
    font-weight: 700 !important;
    line-height: 50px;
}

.waffle_head {
    font-size: 26px !important;
    font-weight: 700 !important
}

.waffle-h2 {
    font-size: 19px !important;
    font-weight: 400 !important;
    line-height: 27px !important;
}

.waffle_h3 {
    font-size: 22px !important;
    font-weight: 700 !important;
}

.waffle_p {
    font-size: 20px !important;
    font-weight: 500 !important;
    margin: auto;
    max-width: 70%;
}

.waffle_text {
    text-align: left;
    font-size: 18px;
    margin: auto
}

.waffle_step {
    margin-top: 12px;
    margin-bottom: 12px
}

@media (max-width:1024px) {
    .waffle_head {
        font-size: 24px !important;
        font-weight: 800 !important
    }
}

@media (max-width:512px) {
    .waffle_head {
        font-size: 20px !important;
        font-weight: 800 !important
    }
}

@media (max-width:767px) {
    .waffle-h1 {
        font-size: 34px !important
    }
}

.waffle_ul {
    padding-left: 0
}

.list-inline-item {
    display: inline-block
}

.list-inline-item:not(:last-child) {
    margin-right: .5rem
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px
    }
}

@media (min-width:768px) {
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.66666667%
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%
    }
}

@media (min-width:992px) {
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 66.66666667%
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 56%
    }
}

.waffle_share {
    margin: 90px 0 40px
}

.waffle_title {
    background-color: #fcfff0
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important
}

.mt-0 {
    margin-top: 0 !important
}

.mt-1 {
    margin-top: 0.25rem !important
}

.mt-2 {
    margin-top: 0.5rem !important
}

.mt-3 {
    margin-top: 1rem !important
}

.mt-4 {
    margin-top: 1.5rem !important
}

.mt-5 {
    margin-top: 3rem !important
}

.mb-1 {
    margin-bottom: 0.25rem !important
}

.mb-2 {
    margin-bottom: 0.5rem !important
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.pb-1 {
    padding-bottom: 0.25rem !important
}

.pb-2 {
    padding-bottom: 0.5rem !important
}

.pb-5 {
    padding-bottom: 3rem !important
}

.text-start {
    text-align: left !important
}

.text-end {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important
}

@media (min-width:1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1140px
    }
}

.text-primary {
    color: #72b0fa !important
}

.section-title .title {
    letter-spacing: .5px;
    font-size: 28px !important
}

@media (max-width:768px) {
    .section-title .title {
        font-size: 24px !important
    }
}

.number {
    font-size: 26px;
    font-weight: 700;
}

.para-desc {
    max-width: 600px
}

.bg-half {
    padding: 32px 0;
    align-self: center;
}

.footer__logo {
    height: 24px;
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 10px
}

.footer__logo img {
    height: 24px;
    display: block
}

.site-footer {
    padding: 20px 0 10px;
    /*background: rgba(231, 235, 241, .58);*/
}

.bee_ul {
    padding: 0;
    margin: 0;
}

.bee_ul a {
    color:#202942;
}

.body--dark .bee_ul a {
    color: white;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 15px
}

.footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5px
}

.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.footer__message {
    color: #9599ae;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
    margin: 20px auto 10px
}

.footer__copir {
    color: #2c2f3e;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px
}

.footer__links {
    color: #2c2f3e;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.footer__links li {
    border-left: 1px solid #75798d;
    padding-left: 10px;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.faq_block {
    border-radius: 14px;
    margin-top: 35px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #bfd4e080;
}

.waffle_share {
    margin-top: 40px;
}

.weav_but {
    text-decoration: none;
    color: black;
    background-color: #f5e0fb;
    padding: 20px 25px;
    font-size: larger;
    font-weight: 700;
    border: 1px solid;
    border-radius: 16px;
    transition: transform ease 200ms;
}

.weav_but:hover {
    background-color: #e8cfef;
}

.smartbanner {
    z-index: 9999;
}

.content-section {
    background-color: #fff3d7;
}

.body--dark .content-section {
    background-color: #15202C;
}

.site-card {
    font-size: 16px;
    text-align: left;
    background: #fff;
    box-shadow: 0 0 25px rgb(0 0 0 / 10%);
    padding: 31px 25px;
    border-radius: 10px;
    max-width: 920px;
    margin: 0 auto 20px auto;
}

.site-card ul:last-child {
    margin-bottom: 0;
}

.body--dark .site-card {
    background: #3a3935;
}

.site-card:last-child {
    margin-bottom: 0;
}

.site-card__title {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}

.site-nav__link {
    color: #434a5c;
    text-decoration: none;
}

.body--dark .site-nav__link {
    color: white;
}

.adsbygoogle_left, .adsbygoogle_right {
    position: absolute;
    /*border: 1px solid red !important;*/
    top: calc(50% - 300px);
}

.adsbygoogle_left {
    left: calc(17% - 80px);
}

.adsbygoogle_right {
    right: calc(17% - 80px);
}

.app-wrapper__banner_large, .app-wrapper__banner_small {
    display: none !important;
    /*border: 1px solid red !important;*/
}

@media (max-width: 1200px) {
    .adsbygoogle_left {
        left: calc(14% - 80px);
    }

    .adsbygoogle_right {
        right: calc(14% - 80px);
    }
}

@media (max-width: 1000px) {
    .adsbygoogle_left {
        left: 30px;
    }

    .adsbygoogle_right {
        right: 30px;
    }
}

@media (max-width: 920px) {
    .adsbygoogle_left, .adsbygoogle_right {
        display: none !important;
    }

    .app-wrapper__banner_large {
        display: block !important;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .app-wrapper__banner_large {
        display: none !important;
        margin: 0 auto;
    }

    .app-wrapper__banner_small {
        display: block !important;
        margin: 0 auto;
    }
}

.we_but{text-align:center;text-decoration:none;font-weight:600}.weav_but:hover{background-color:#e8cfef}.we_but{display:inline-flex;min-height:90px;align-items:center;margin:12px;width:calc(25% - 24px);padding:2px 13px;font-size:17px;border-radius:8px;color:#3c4858!important;background-color:#ffe28c}@media (max-width:1024px){.we_but{font-size:13px}}@media (max-width:1000px){.we_but,.wordle_but{width:calc(50% - 24px);font-size:12px;margin-top:5px}}.we_but:hover{transform:translate(0,-3px)}.wemage{width:38px;margin-right:10px}.we_d{margin:auto}