svg.svelte-1gt6z3x {
  cursor: pointer;
  width: 24px;
  margin: 0 4px;
}
svg.svelte-1gt6z3x path {
  fill: var(--icon-color);
}

.tooltip.svelte-1gt6z3x {
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px #ddd;
  background: white;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  margin: 0px;
  font-size: var(--fs-small);
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0px;
}
header.svelte-1b4mehz {
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-primary);
  width: 100%;
  height: var(--header-height);
  position: relative;
}

.icons.svelte-1b4mehz {
  height: 100%;
  z-index: 1;
  display: flex;
}

h1.svelte-1b4mehz {
  position: absolute;
  width: 100%;
  font-size: var(--fs-large);
  text-align: center;
  font-family: "Uncial Antiqua", "Helvetica Neue", Arial, sans-serif;
}

.hist.svelte-1b4mehz {
  fill: #ff0000;
}
.svelte-j5rtk2:not(.pop),
.complete .value.svelte-j5rtk2 {
  scale: 1 !important;
  opacity: 1 !important;
}

.value.svelte-j5rtk2 {
  animation: svelte-j5rtk2-pop 0.1s;
}
.value.svelte-j5rtk2 .front:where(.svelte-j5rtk2) {
  border-color: var(--border-primary);
}

.tile.svelte-j5rtk2 {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: var(--tile-font);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transform-style: preserve-3d;
}
.tile[data-animation=bounce].svelte-j5rtk2 {
  animation: svelte-j5rtk2-bounce 1s;
}

.back.svelte-j5rtk2,
.front.svelte-j5rtk2 {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 33%;
  place-items: center;
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0s ease-in-out;
}

.front.svelte-j5rtk2 {
  border: 2px solid var(--border-primary);
  /*		transform: rotateY(0deg);*/
  transform: rotate3d(-1, 1, 0, 0deg);
}

.back.svelte-j5rtk2 {
  background: var(--color-absent);
  /*		transform: rotateY(180deg);*/
  transform: rotate3d(-1, 1, 0, 180deg);
}

.correct.svelte-j5rtk2 .back:where(.svelte-j5rtk2) {
  background: var(--color-correct);
}

.present.svelte-j5rtk2 .back:where(.svelte-j5rtk2) {
  background: var(--color-present);
}

.complete .tile.svelte-j5rtk2:not(.nil) .front:where(.svelte-j5rtk2) {
  transition-delay: inherit !important;
  transition-duration: 0.8s;
  /*		transform: rotateY(180deg);*/
  transform: rotate3d(-1, 1, 0, 180deg);
}

.complete .tile.svelte-j5rtk2:not(.nil) .back:where(.svelte-j5rtk2) {
  transition-delay: inherit !important;
  transition-duration: 0.8s;
  /*		transform: rotateY(0deg);*/
  transform: rotate3d(-1, 1, 0, 0deg);
}

@keyframes svelte-j5rtk2-pop {
  from {
    scale: 0.8;
    opacity: 0;
  }
  40% {
    scale: 1.1;
    opacity: 1;
  }
}
@keyframes svelte-j5rtk2-bounce {
  0%, 20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
.board-row.svelte-1jeeesl {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-gap: 5px;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.board-row[data-animation=shake].svelte-1jeeesl {
  animation: svelte-1jeeesl-shake 0.6s;
}

@media (max-height: 600px) {
  .board-row.svelte-1jeeesl {
    font-size: 2em;
    line-height: 2em;
  }
}
@media (max-height: 450px) {
  .board-row.svelte-1jeeesl {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}
.invalid.svelte-1jeeesl {
  color: #cc0000;
}

@keyframes svelte-1jeeesl-shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}

	.board.svelte-ahde2q {
		display: grid;
		grid-template-rows: repeat(var(--rows), 1fr);
		grid-gap: 5.5px;
		flex-grow: 1;
		padding: 5px;
		position: relative;
	}


	div.svelte-14ortou {
		font-size: calc(var(--fs-tiny) + 6px);
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 6px;
		max-height: 58px;
        margin: 0px 4px 0px 0px;
		background: var(--key-bg);
		cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
		flex: 1;
		transition: background-color 0.3s ease-in-out;
	}
	.guesses div.svelte-14ortou {
		transition-delay: 1s;
	}
	.guesses .preventChange div.svelte-14ortou {
		transition-duration: 0.15s;
		transition-delay: 0s;
		background: var(--key-bg) !important;
	}
	.big.svelte-14ortou {
		font-size: var(--fs-tiny);
		flex-grow: 1.5;
	}
	.absent.svelte-14ortou {
		background: var(--color-absent);
	}
	.present.svelte-14ortou {
		background: var(--color-present);
	}
	.correct.svelte-14ortou {
		background: var(--color-correct);
	}


	.keyboard.svelte-1ufj8dh {
		width: 100%;
        height: var(--keyboard-height);
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0px;
	}
	.row.svelte-1ufj8dh {
		width: 100%;
		display: flex;
        flex-grow: 1;
		margin: 0 auto 4px;
		padding: 0 4px;
        touch-action: manipulation;
	}    
	.row.svelte-1ufj8dh:nth-of-type(2) {
		padding: 0 30px;
	}
	svg.svelte-1ufj8dh {
		fill: var(--fg-primary);
		width: 24px;
	}

.overlay.visible.svelte-n8kkfd,
.visible.svelte-n8kkfd .modal:where(.svelte-n8kkfd) {
  opacity: 1;
  visibility: visible;
}

.exit.svelte-n8kkfd {
  position: absolute;
  top: var(--modal-padding);
  right: var(--modal-padding);
}

/* regular modal */
.overlay.svelte-n8kkfd {
  transition: all 0.2s ease;
  font-size: var(--fs-small);
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5333333333);
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.modal.svelte-n8kkfd {
  position: relative;
  background: var(--bg-primary);
  max-width: var(--game-width);
  /*		height: min-content;*/
  max-height: calc(90% - var(--header-ad-height));
  width: 100%;
  overflow-y: auto;
  border-radius: 0px;
  border: 1px solid var(--bg-secondary);
  --modal-padding: 16px;
  padding: var(--modal-padding);
  padding-top: calc(2 * var(--modal-padding));
  margin: calc(5% + var(--header-ad-height)) auto 5% auto;
  transition: all 0.3s ease;
}
.modal.svelte-n8kkfd > *:not(h3) {
  margin-bottom: 15px;
}

	.sep.visible.svelte-1yt749e {
		display: grid;
        grid-template-columns: 1fr 1fr;
	}
	.sep.svelte-1yt749e {
		display: none;
	}
	.sep.svelte-1yt749e :where(.svelte-1yt749e):first-child, .sep.svelte-1yt749e :where(.svelte-1yt749e):nth-child(3) {
		border-right: 1px solid var(--fg-primary);
	}
	.sep.svelte-1yt749e div:where(.svelte-1yt749e) {
		flex: 1;
		display: grid;
		place-items: center;
	}


.ssbc-button__link.svelte-abzkh4,
.ssbc-button__icon.svelte-abzkh4 {
  display: inline-block;
}

.ssbc-button__link.svelte-abzkh4 {
  text-decoration: none;
  color: #fff;
}

.ssbc-button.svelte-abzkh4 {
  transition: 25ms ease-out;
  padding: 0.75em;
}

.ssbc-button__icon.svelte-abzkh4 svg {
  width: 1em;
  height: 1em;
  margin: 0;
  vertical-align: middle;
}

.ssbc-button__icon--fill.svelte-abzkh4 {
  fill: #fff;
  stroke: none;
}

.ssbc-button__icon--outline.svelte-abzkh4 {
  fill: none;
  stroke: #fff;
}


.ssbc-button--whatsapp {
  background-color: #25D366;
}

.ssbc-button--whatsapp:active,
.ssbc-button--whatsapp:hover {
  background-color: #1DA851;
}


.ssbc-button--twitter {
  background-color: #000000;
}

.ssbc-button--twitter:active,
.ssbc-button--twitter:hover {
  background-color: #333333;
}


    h3.svelte-zex2l3 {
		margin-bottom: 10px;
	}
    .sharecontainer.svelte-zex2l3 {
        display: grid; 
        grid-template-columns: 37.5px 37.5px 75px;
        grid-gap: 10px;
        justify-content: center;
        width: 100%;
        padding-bottom: 15px;
    }
	.copybutton.svelte-zex2l3 {
        color: white;
		font-weight: 500;
		background: var(--color-correct);
		border-radius: 13px;
		height: 100%;
		display: flex;
        height: 40px;
		width: 75px;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
		gap: 5px;
		cursor: pointer;
	}
    @media (max-width: 500px) {
        .sharecontainer.svelte-zex2l3 {
            grid-template-columns: 37.5px 37.5px 70px;
            grid-gap: 5px;
        }
        .copybutton.svelte-zex2l3 {
            width: 70px;
        }

    }
	.copybutton.svelte-zex2l3:hover {
		opacity: 0.9;
	}

div.svelte-1okonk1 {
  margin: 10px 0;
}

.examples.svelte-1okonk1 {
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
}
.examples.svelte-1okonk1 .row > * {
  height: 100%;
}
.examples.svelte-1okonk1:not(.complete) .row .back {
  transition-delay: 0.3s;
}

.row.svelte-1okonk1 {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  height: 40px;
  width: var(--tutorial-row-width);
  grid-gap: 5px;
  font-size: 1.8em;
  line-height: 1.4em;
  vertical-align: middle;
}

	h3.svelte-ktac1b {
		margin-bottom: 10px;
	}
	.container.svelte-ktac1b {
		height: 45px;
		min-width: 70%;
		position: relative;
	}
	.timer.svelte-ktac1b {
		position: absolute;
		inset: 0;
		font-size: var(--fs-large);
		text-align: center;
	}
    @media (max-width: 500px) {
        .timer.svelte-ktac1b {
            font-size: var(--fs-medium);
        }
    }
	.button.svelte-ktac1b {
		height: 36px;
        width: 36px;
		padding: 4px;
		background: var(--color-correct);
		border-radius: 4px;
		cursor: pointer;
		margin: auto;
	}
	svg.svelte-ktac1b {
		fill: white;
		height: 100%;
	}
	.button.svelte-ktac1b:hover {
		opacity: 0.9;
	}


	.toast.svelte-vkgam3 {
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		z-index: 20;
		font-weight: bold;
	}
	.slice.svelte-vkgam3 {
		color: var(--bg-primary);
		background: var(--fg-primary);
		padding: 16px;
		margin: 16px auto;
		border-radius: 4px;
		width: fit-content;
	}


    .buttoncontainer.svelte-1uo1nlt {
        display: grid; 
        grid-template-columns: 75px 75px;
        grid-gap: 10px;
        justify-content: center;
        width: 100%;
        padding-bottom: 15px;
    }
    .button.svelte-1uo1nlt {
        color: white;
		font-weight: 500;
		border-radius: 13px;
		height: 100%;
		display: flex;
        height: 40px;
		width: 75px;
        justify-content: center;
        align-items: center;
        text-align: center;
        vertical-align: middle;
		gap: 5px;
		cursor: pointer;
	}
    .button.svelte-1uo1nlt a:where(.svelte-1uo1nlt) {
        text-decoration: none;
    }
    @media (max-width: 500px) {
        .buttoncontainer.svelte-1uo1nlt {
            grid-template-columns: 70px 70px;
            grid-gap: 5px;
        }
        .button.svelte-1uo1nlt {
            width: 70px;
        }

    }
    .twitterbutton.svelte-1uo1nlt {
        background-color: #55acee;
    }
    .twitterbutton.svelte-1uo1nlt:active,
    .twitterbutton.svelte-1uo1nlt:hover {
        background-color: #2795e9;
    }
    .todaybutton.svelte-1uo1nlt {
		background: var(--color-correct);    
    }
    .todaybutton.svelte-1uo1nlt:hover {
		opacity: 0.9;
	}


	div.svelte-d95qki {
		color: var(--fg-secondary);
		font-size: var(--fs-regular);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px 0px;
	}
    .coffee.svelte-d95qki {
        height: 40px !important;
        width: 144px !important; 
        margin: 5px;
    }


	div.svelte-ljn64v {
		display: flex;
		justify-content: center;
		gap: 8px;
	}


	section.svelte-1a8yfhw {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 60px;
	}
	.stat.svelte-1a8yfhw {
		font-size: var(--fs-large);
	}
    @media (max-width: 500px) {
        .stat.svelte-1a8yfhw {
            font-size: var(--fs-medium);
        }
    }
	.name.svelte-1a8yfhw {
		text-align: center;
	}


	div.svelte-ljn64v {
		display: flex;
		justify-content: center;
		gap: 8px;
	}


	.guess.svelte-d2csbv {
		display: grid;
		place-items: center;
	}
	.container.svelte-d2csbv {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	.graph.svelte-d2csbv {
		height: 20px;
		display: flex;
		gap: 4px;
	}
	.bar.svelte-d2csbv {
		min-width: 7%;
		transition: width 0.3s ease-out;
		background: var(--color-absent);
		color: white;
		font-weight: bold;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 8px;
	}
	.bar.this.svelte-d2csbv {
		background: var(--color-correct);
	}

div[disabled=true].svelte-1b17mx9 {
  opacity: 0.5;
  cursor: unset;
}

div.svelte-1b17mx9 {
  width: 32px;
  height: 20px;
  border-radius: 10px;
  background: var(--icon-color);
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
div.svelte-1b17mx9::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  margin: 2px;
  left: 0;
  transition: left 0.3s ease;
}

.checked.svelte-1b17mx9 {
  background: var(--color-correct);
}
.checked.svelte-1b17mx9::before {
  left: 12px;
}

	.setting.svelte-40b4uj {
		/* border-bottom: 1px solid var(--border-primary); */
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.title.svelte-40b4uj {
		font-size: var(--fs-medium);
		font-weight: 500;
	}
	.desc.svelte-40b4uj {
		font-size: var(--fs-tiny);
		color: var(--fg-secondary);
	}


	.outer.svelte-1eb72o7 {
/*		height: 100%;
		display: flex;
		flex-direction: column;
        justify-content: space-between;*/
        position: relative;
    }
	.links.svelte-1eb72o7 {
		font-size: var(--fs-medium);
		font-weight: 500;
		border-bottom: 1px solid var(--border-primary);
		color: var(--fg-primary);
		display: flex;
		justify-content: space-between;
	}
    .links.svelte-1eb72o7 a:where(.svelte-1eb72o7):link{
        font-weight: 400;
    }
	.footer.svelte-1eb72o7 {
		color: var(--fg-secondary);
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		text-align: end;
        width: 100%;
        padding: 16px 0px;
	}
    .settings-top.svelte-1eb72o7 {
        padding: 0px 0px 30px 0px;
    }
	.settings-top > div {
		padding: 16px 0;
		border-bottom: 1px solid var(--border-primary);
	}


	main.svelte-1xaw2tx {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		max-width: var(--game-width);
		margin: 0px auto;
		position: relative;
	}

