@import url(css.css);*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem;font-weight:700;line-height:1.2}.h1,h1{font-size:calc(1.3875rem + 1.65vw)}@media (min-width:1200px){.h1,h1{font-size:1.6rem}}.connections-h1{font-size:38px!important;font-weight:900!important}.connections_head{font-size:26px!important;font-weight:900!important;text-align:center}.connections-h2{font-size:19px!important;font-weight:400!important}.connections_text{text-align:left;font-size:18px;margin:auto}.connections_step{margin-top:30px;margin-bottom:12px}@media (max-width:1024px){.connections_head{font-size:24px!important;font-weight:800!important}}@media (max-width:512px){.connections_head{font-size:20px!important;font-weight:800!important}}@media (max-width:767px){.connections-h1{font-size:34px!important}}p{margin-top:0;margin-bottom:1rem}ul{padding-left:2rem}ul{margin-top:0;margin-bottom:1rem}ul ul{margin-bottom:0}.connections_ul{padding-left:0}.list-inline-item{display:inline-block}.list-inline-item:not(:last-child){margin-right:.5rem}.container{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}@media (min-width:1400px){.container{max-width:1320px}}.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-0.5 * var(--bs-gutter-x));margin-left:calc(-0.5 * var(--bs-gutter-x))}.row>*{-ms-flex-negative:0;flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * 0.5);padding-left:calc(var(--bs-gutter-x) * 0.5);margin-top:var(--bs-gutter-y)}@media (min-width:768px){.col-md-8{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:66.66666667%}.col-md-9{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:75%}}@media (min-width:992px){.col-lg-8{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:66.66666667%}.col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;width:56%}}.connections_share{margin: 50px 0 30px}.connections_title{background-color:#e9cbff}.connections_note{background-color:#eaffe5;margin-bottom: 30px;}.justify-content-center{-webkit-box-pack:center!important;-ms-flex-pack:center!important;justify-content:center!important}.align-items-center{-webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important}.align-content-center{-ms-flex-line-pack:center!important;align-content:center!important}.my-2{margin-top:0.5rem!important;margin-bottom:0.5rem!important}.mt-0{margin-top:0!important}.mt-1{margin-top:0.25rem!important}.mt-2{margin-top:0.5rem!important}.mt-3{margin-top:1rem!important}.mt-4{margin-top:1.5rem!important}.mt-5{margin-top:3rem!important}.mb-1{margin-bottom:0.25rem!important}.mb-2{margin-bottom:0.5rem!important}.mb-4{margin-bottom:1.5rem!important}.mb-5{margin-bottom:3rem!important}.pb-1{padding-bottom:0.25rem!important}.pb-2{padding-bottom:0.5rem!important}.pb-5{padding-bottom:3rem!important}.text-start{text-align:left!important}.text-end{text-align:right!important}.text-center{text-align:center!important}.bg-light{--bs-bg-opacity:1;background-color:rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm{max-width:1140px}}.text-primary{color:#72b0fa!important}body{font-family:Nunito,sans-serif;overflow-x:hidden!important;font-size:16px;color:#161c2d}.section-title .title{letter-spacing:.5px;font-size:28px!important}@media (max-width:768px){.section-title .title{font-size:24px!important}}.number{font-size:26px;font-weight:700;margin:0px}.para-desc{max-width:600px}.bg-half{padding:32px 0;background-size:cover;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;position:relative;background-position:center center}.footer__logo{height:24px;display:block;-ms-flex-negative:0;flex-shrink:0;margin-bottom:10px}.footer__logo img{height:24px;display:block}.footer{padding:20px 0 10px;background:rgb(230 217 247 / 58%)}.container{max-width:100%;margin:0 auto;padding:0 15px}.footer__top{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-bottom:5px}.footer__bottom{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.footer__message{color:#9599ae;line-height:24px;text-align:center;font-size:13px;margin:20px auto 10px}.footer__copir{color:#2c2f3e;font-size:13px;font-weight:400;line-height:12px}.footer__links{color:#2c2f3e;font-size:13px;font-weight:400;line-height:12px;padding:0;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.footer__links li{border-left:1px solid #75798d;padding-left:10px;margin-left:10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}

.faq_block {
	border-radius: 14px;
	margin-top: 35px;
	padding: 32px;
	background-color: #cdb5f2
}

body.dark .faq_block {
	color: #000
}

.connections_but {
    display: block;
    margin: 12px;
    max-width: fit-content;
    text-align: center;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    color: #000000!important;
    background-color: #9696ff;
    transition: .2s ease-in-out;
}

.connections_but:hover {
    background-color: #ffc518;
}

body.dark .connections-h1,.connections-h2 {
	color: #1e1e1e
}

.spell_h3 {
	padding-bottom: 10px;
	margin-top: 0;
	font-weight: 700;
	text-align: left
}

.spell_text {
	text-align: left;
	font-size: 18px
}

a, a:visited {
    text-decoration: none;
}

.step_number {
    font-size:24px;
    font-weight:700;
    width: 42px;
    height: 42px;
    background-color: #cdb5f2;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    color: #000;
    margin: auto;
}

.step_head {
    font-size:20px;
    font-weight:700;
    margin-top:16px;
}

.frames_block{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.quordle_but{display:block;margin:12px;width:calc(10% - 24px);text-align:center}.faq_block{border-radius:14px;margin-top:35px;padding:32px;background-color:#bfd4e080}.quordle-h2{font-size:19px!important;font-weight:400!important}.quordle_h3{padding-bottom:10px;font-weight:700;text-align:left}.quordle_text{text-align:left;font-size:18px}.g_block{background-color:#fff;text-align:left;font-family:Nunito,sans-serif!important;min-height:600px}.quordle_but{min-width:max-content;padding:18px 20px;font-size:16px;font-weight:700;background-color:#7365df!important;color:#fff!important;border-radius:8px;margin-right:20px;margin-top:10px}.quordle_but:hover{background-color:#6559c5!important}.frames_block{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;max-width:1000px;margin:auto}@media (max-width:991px){.frames_block{margin-left:3px;margin-right:3px}}.we_but{display:inline-flex;min-height:90px;max-height:90px;align-items:center;margin:12px;width:calc(25% - 24px);text-align:center;padding:2px 13px;outline:0;font-size:14px;letter-spacing:.5px;font-weight:600;border:1px solid;border-radius:8px;color:#3c4858!important;background-color:#f8f9fc;transition:transform .2s}@media (max-width:710px){.we_but{width:calc(50% - 24px);font-size:12px;margin-top:5px}}.we_but:hover{transform:translate(0,-3px)}.wemage{width:38px;margin-right:10px}.we_d{margin:auto}