@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), url('../font/Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat'), url('../font/Montserrat-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: local('Montserrat'), url('../font/Montserrat[wght].woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    src: local('Montserrat'), url('../font/Montserrat-Italic[wght].woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 250;
    src: local('Montserrat'), url('../font/Montserrat-Thin.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 250;
    src: local('Montserrat'), url('../font/Montserrat-ThinItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 275;
    src: local('Montserrat'), url('../font/Montserrat-ExtraLight.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 275;
    src: local('Montserrat'), url('../font/Montserrat-ExtraLightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: local('Montserrat'), url('../font/Montserrat-Light.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: local('Montserrat'), url('../font/Montserrat-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat'), url('../font/Montserrat-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: local('Montserrat'), url('../font/Montserrat-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat'), url('../font/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: local('Montserrat'), url('../font/Montserrat-SemiBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'), url('../font/Montserrat-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: local('Montserrat'), url('../font/Montserrat-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat'), url('../font/Montserrat-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: local('Montserrat'), url('../font/Montserrat-ExtraBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat'), url('../font/Montserrat-Black.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: local('Montserrat'), url('../font/Montserrat-BlackItalic.woff') format('woff');
}


