/*
  Any CSS that needs to be available to the page prior to the page mounting should go in here.
*/

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Our custom colours */
  --color-light: #f5f5f5;
  --color-lightest: #fff;
  --color-mid-dark: #999;
  --color-mid-light: #ccc;
  --color-dark: #333;
  --color-darker: #111;
  --color-darkest: #000;
  --color-dark-semi-transparent: rgba(0, 0, 0, 0.5);
  --color-dark-slightly-transparent: rgba(0, 0, 0, 0.8);
  --color-success: #7adf7a;
  --color-success-darker: #44c344;
  --color-fail: #ff1b1b;
  --color-primary: #2a777e;
  --color-primary-lighter: #0b6871;
}

#app {
  width: 100%;
  height: 100vh;
  min-height: 700px;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}

a:hover {
  color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#about-no-js {
  max-width: 65ch;
  padding: 2rem;
  margin: 5rem auto 2rem;
}

#about-no-js h5 {
  font-size: 1rem;
  margin-bottom: 0;
}

.post-script {
  font-size: 0.8rem;
  line-height: 1.4;
  font-style: italic;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-dark);
    background-color: var(--color-light);
  }

  a {
    color: var(--color-text);
  }

  a:hover {
    color: #000;
  }

  button {
    background-color: #f9f9f9;
  }
}